<div class="col-md-12">
    <h1  class="title">Admin Login Page</h1>
  
    <div id = "num2" class="card card-container">
        <div id = "num5" class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            [(ngModel)]="password2"
          />
          
        </div>
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="loginAdmin()"
          >
            Login Administrator
          </button>
        </div>
  
        
      
    </div>
  </div> 